// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as OmnidapterApi from "../../../index.js";

export declare namespace ConnectClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ConnectClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ConnectClient.Options>;

    constructor(options: ConnectClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Exchange a one-time bootstrap link token (lt_*) for a short-lived session token (cs_*).
     *
     * The bootstrap token is consumed immediately and permanently on first call.
     * Subsequent calls with the same token return ``token_already_used``.
     *
     * This endpoint requires **no** Authorization header.  The bootstrap token is
     * passed in the request body so it never appears in server logs or the
     * browser's address bar after the initial page load.
     *
     * The hosted version additionally verifies that the bootstrap token belongs to
     * a known tenant before issuing the session token.
     *
     * @param {OmnidapterApi.ConnectSessionRequest} request
     * @param {ConnectClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link OmnidapterApi.UnprocessableEntityError}
     *
     * @example
     *     await client.connect.createSession({
     *         token: "token"
     *     })
     */
    public createSession(
        request: OmnidapterApi.ConnectSessionRequest,
        requestOptions?: ConnectClient.RequestOptions,
    ): core.HttpResponsePromise<Record<string, unknown>> {
        return core.HttpResponsePromise.fromPromise(this.__createSession(request, requestOptions));
    }

    private async __createSession(
        request: OmnidapterApi.ConnectSessionRequest,
        requestOptions?: ConnectClient.RequestOptions,
    ): Promise<core.WithRawResponse<Record<string, unknown>>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "connect/session",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Record<string, unknown>, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new OmnidapterApi.UnprocessableEntityError(
                        _response.error.body as OmnidapterApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.OmnidapterApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/connect/session");
    }

    /**
     * List providers available for this connect session.
     *
     * - Filters by ``allowed_providers`` on the link token (if set).
     * - Respects each provider's ``is_enabled`` flag per tenant.
     * - Returns only the locked provider for reconnect tokens.
     * - Includes ``credential_schema`` for non-OAuth providers so the UI can
     *   render a dynamic credential form.
     *
     * Returns an empty list if no providers are available (error shown in UI).
     *
     * @param {ConnectClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.connect.listProviders()
     */
    public listProviders(requestOptions?: ConnectClient.RequestOptions): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(this.__listProviders(requestOptions));
    }

    private async __listProviders(
        requestOptions?: ConnectClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "connect/providers",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.OmnidapterApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/connect/providers");
    }

    /**
     * Initiate or complete a provider connection on behalf of the link token's tenant.
     *
     * Behavior varies by provider type and token scope:
     *
     * **OAuth providers (``credentials`` is null):**
     * Creates a pending connection and returns ``authorization_url`` for the
     * browser to redirect to. For reconnect tokens, reauthorizes the existing
     * connection.
     *
     * **Non-OAuth providers (``credentials`` provided):**
     * Validates and stores credentials immediately. Returns ``status: "active"``
     * with no ``authorization_url`` on success. Returns 400 with inline errors on
     * validation failure — the user can retry without a new link token.
     *
     * @param {OmnidapterApi.ConnectCreateConnectionRequest} request
     * @param {ConnectClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link OmnidapterApi.UnprocessableEntityError}
     *
     * @example
     *     await client.connect.createConnection({
     *         provider_key: "provider_key"
     *     })
     */
    public createConnection(
        request: OmnidapterApi.ConnectCreateConnectionRequest,
        requestOptions?: ConnectClient.RequestOptions,
    ): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(this.__createConnection(request, requestOptions));
    }

    private async __createConnection(
        request: OmnidapterApi.ConnectCreateConnectionRequest,
        requestOptions?: ConnectClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "connect/connections",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new OmnidapterApi.UnprocessableEntityError(
                        _response.error.body as OmnidapterApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.OmnidapterApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/connect/connections");
    }
}
