// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as OmnidapterApi from "../../../index.js";

export declare namespace ConnectionsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ConnectionsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ConnectionsClient.Options>;

    constructor(options: ConnectionsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @param {OmnidapterApi.ListConnectionsV1ConnectionsGetRequest} request
     * @param {ConnectionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link OmnidapterApi.UnprocessableEntityError}
     *
     * @example
     *     await client.connections.listConnections()
     */
    public listConnections(
        request: OmnidapterApi.ListConnectionsV1ConnectionsGetRequest = {},
        requestOptions?: ConnectionsClient.RequestOptions,
    ): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(this.__listConnections(request, requestOptions));
    }

    private async __listConnections(
        request: OmnidapterApi.ListConnectionsV1ConnectionsGetRequest = {},
        requestOptions?: ConnectionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const { status, provider, external_id: externalId, limit, offset } = request;
        const _queryParams: Record<string, unknown> = {
            status,
            provider,
            external_id: externalId,
            limit,
            offset,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "v1/connections",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new OmnidapterApi.UnprocessableEntityError(
                        _response.error.body as OmnidapterApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.OmnidapterApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/connections");
    }

    /**
     * @param {OmnidapterApi.CreateConnectionRequest} request
     * @param {ConnectionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link OmnidapterApi.UnprocessableEntityError}
     *
     * @example
     *     await client.connections.createConnection({
     *         provider: "provider",
     *         redirect_url: "redirect_url"
     *     })
     */
    public createConnection(
        request: OmnidapterApi.CreateConnectionRequest,
        requestOptions?: ConnectionsClient.RequestOptions,
    ): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(this.__createConnection(request, requestOptions));
    }

    private async __createConnection(
        request: OmnidapterApi.CreateConnectionRequest,
        requestOptions?: ConnectionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "v1/connections",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new OmnidapterApi.UnprocessableEntityError(
                        _response.error.body as OmnidapterApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.OmnidapterApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/connections");
    }

    /**
     * @param {OmnidapterApi.GetConnectionEndpointV1ConnectionsConnectionIdGetRequest} request
     * @param {ConnectionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link OmnidapterApi.UnprocessableEntityError}
     *
     * @example
     *     await client.connections.getConnectionEndpoint({
     *         connection_id: "connection_id"
     *     })
     */
    public getConnectionEndpoint(
        request: OmnidapterApi.GetConnectionEndpointV1ConnectionsConnectionIdGetRequest,
        requestOptions?: ConnectionsClient.RequestOptions,
    ): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(this.__getConnectionEndpoint(request, requestOptions));
    }

    private async __getConnectionEndpoint(
        request: OmnidapterApi.GetConnectionEndpointV1ConnectionsConnectionIdGetRequest,
        requestOptions?: ConnectionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const { connection_id: connectionId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `v1/connections/${core.url.encodePathParam(connectionId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new OmnidapterApi.UnprocessableEntityError(
                        _response.error.body as OmnidapterApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.OmnidapterApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/connections/{connection_id}",
        );
    }

    /**
     * @param {OmnidapterApi.DeleteConnectionV1ConnectionsConnectionIdDeleteRequest} request
     * @param {ConnectionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link OmnidapterApi.UnprocessableEntityError}
     *
     * @example
     *     await client.connections.deleteConnection({
     *         connection_id: "connection_id"
     *     })
     */
    public deleteConnection(
        request: OmnidapterApi.DeleteConnectionV1ConnectionsConnectionIdDeleteRequest,
        requestOptions?: ConnectionsClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__deleteConnection(request, requestOptions));
    }

    private async __deleteConnection(
        request: OmnidapterApi.DeleteConnectionV1ConnectionsConnectionIdDeleteRequest,
        requestOptions?: ConnectionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { connection_id: connectionId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `v1/connections/${core.url.encodePathParam(connectionId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new OmnidapterApi.UnprocessableEntityError(
                        _response.error.body as OmnidapterApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.OmnidapterApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/v1/connections/{connection_id}",
        );
    }

    /**
     * @param {OmnidapterApi.ReauthorizeConnectionRequest} request
     * @param {ConnectionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link OmnidapterApi.UnprocessableEntityError}
     *
     * @example
     *     await client.connections.reauthorizeConnection({
     *         connection_id: "connection_id",
     *         redirect_url: "redirect_url"
     *     })
     */
    public reauthorizeConnection(
        request: OmnidapterApi.ReauthorizeConnectionRequest,
        requestOptions?: ConnectionsClient.RequestOptions,
    ): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(this.__reauthorizeConnection(request, requestOptions));
    }

    private async __reauthorizeConnection(
        request: OmnidapterApi.ReauthorizeConnectionRequest,
        requestOptions?: ConnectionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const { connection_id: connectionId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `v1/connections/${core.url.encodePathParam(connectionId)}/reauthorize`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new OmnidapterApi.UnprocessableEntityError(
                        _response.error.body as OmnidapterApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.OmnidapterApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v1/connections/{connection_id}/reauthorize",
        );
    }
}
