// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as OmnidapterApi from "../../../index.js";

export declare namespace OauthClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class OauthClient {
    protected readonly _options: NormalizedClientOptions<OauthClient.Options>;

    constructor(options: OauthClient.Options) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * Handle OAuth callback from provider.
     *
     * @param {OmnidapterApi.OauthCallbackOauthProviderKeyCallbackGetRequest} request
     * @param {OauthClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link OmnidapterApi.UnprocessableEntityError}
     *
     * @example
     *     await client.oauth.oauthCallback({
     *         provider_key: "provider_key"
     *     })
     */
    public oauthCallback(
        request: OmnidapterApi.OauthCallbackOauthProviderKeyCallbackGetRequest,
        requestOptions?: OauthClient.RequestOptions,
    ): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(this.__oauthCallback(request, requestOptions));
    }

    private async __oauthCallback(
        request: OmnidapterApi.OauthCallbackOauthProviderKeyCallbackGetRequest,
        requestOptions?: OauthClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const { provider_key: providerKey, code, state, error, error_description: errorDescription } = request;
        const _queryParams: Record<string, unknown> = {
            code,
            state,
            error,
            error_description: errorDescription,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `oauth/${core.url.encodePathParam(providerKey)}/callback`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new OmnidapterApi.UnprocessableEntityError(
                        _response.error.body as OmnidapterApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.OmnidapterApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/oauth/{provider_key}/callback",
        );
    }
}
