// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as OmnidapterApi from "../../../index.js";

export declare namespace LinkTokensClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class LinkTokensClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<LinkTokensClient.Options>;

    constructor(options: LinkTokensClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Create a short-lived link token for the Connect UI.
     *
     * Pass the returned token to the embedded or redirect Connect UI as a
     * Bearer token. The token grants permission to list providers and initiate
     * a connection on behalf of the tenant, scoped to ``end_user_id`` if provided.
     *
     * Set ``connection_id`` to create a *reconnect* token — the connect UI will
     * skip provider selection and go directly to the authorization flow for the
     * existing connection.
     *
     * @param {OmnidapterApi.CreateLinkTokenRequest} request
     * @param {LinkTokensClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link OmnidapterApi.UnprocessableEntityError}
     *
     * @example
     *     await client.linkTokens.createLinkTokenEndpoint()
     */
    public createLinkTokenEndpoint(
        request: OmnidapterApi.CreateLinkTokenRequest = {},
        requestOptions?: LinkTokensClient.RequestOptions,
    ): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(this.__createLinkTokenEndpoint(request, requestOptions));
    }

    private async __createLinkTokenEndpoint(
        request: OmnidapterApi.CreateLinkTokenRequest = {},
        requestOptions?: LinkTokensClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "v1/link-tokens",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new OmnidapterApi.UnprocessableEntityError(
                        _response.error.body as OmnidapterApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.OmnidapterApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/link-tokens");
    }
}
